/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

ol
{
    margin: 0;
    padding: 10px;
}

ol li
{
    list-style-type: none;
    margin-bottom: 8px;
    border-bottom: dotted 2px;
}

ol li:last-child
{
    border-bottom: none;
    margin-bottom: 0;
}

.container
{
    border: 3px dotted #FFFFFF;
    border-radius: 8px 8px 8px 8px;
}

body
{
    margin: 0px;
    color: SeaShell;
}

#body_content
{
    margin: 0 auto;
    width : 960px;
    background: url('Site-Background.jpg') repeat center 0
}

.pagination
{
    border-top: DeepSkyBlue dotted 2px;
    margin: 40px 0;
    padding: 10px 0;
}

.top_menu_item
{
    float: left;
    margin: 0 10px;
}

.clear
{clear : both;}

#search_form
{
    float: right;
}

a
{
    color: #FFFFFF;
}

.side_panel
{
    width: 220px;
}