/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

ol
{
    margin: 0;
    padding: 10px;
}

ol li
{
    list-style-type: none;
    margin-bottom: 8px;
    border-bottom: dotted 2px;
}

ol li:last-child
{
    border-bottom: none;
    margin-bottom: 0;
}

.container
{
    border: 3px dotted #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    behavior: url(path/to/PIE.htc);
}

body
{
    margin: 0px;
    color: SeaShell;
}

#body_content
{
    width : 960px;
    margin: 0 auto;
    background: url('background-site.jpg') repeat center 0
}

#content
{
    width : 960px;
    min-height: 600px;
}

.pagination
{
    border-top: DeepSkyBlue dotted 2px;
    color: Gold;
}

.top_menu_item
{
    float: left;
    margin: 0 10px;
}

.clear
{clear : both;}

#header
{
    background: url('background-title.jpeg') repeat-y center 0
}

#search_form
{
    float: right;
}

a
{
    color: #FFFFFF;
}

.selected_topic a
{
    color : #daa520;
}

.selected_category a
{
    color : #daa520;
}

.hidden_block
{
    display: none;
}

.content
{
    width : 749px;
}
