#header.container
  %div.header_left
    =header_menu([['Parse', news_items_load_path], ['Parse last', news_items_load_last_path],
     ['Twits', twit_index_path], ['Canvas', t_canvas_index_path], ['Graphics and diagrams',
      t_canvas_build_path], ['Gallery', '#']])
    .clear

  %div.header_right
    %div.auth_div
      - unless user_signed_in?
        =link_to 'Registrate', new_user_registration_path
        or
        =link_to 'authorize', new_user_session_path
      - else
        %span Hello #{current_user.user_name}
        ||
        =link_to 'Exit', destroy_user_session_path, :method => "DELETE"

    %div.search_div
      = form_for :search, :url => request_search_index_path, :method => 'GET', :html => {:id => 'search_form'} do |f|
        = f.text_field 'search', :size => '20'
        = f.submit 'Search'
  .clear